.thankyou{
background:#fdf8ff;
padding:70px 20px;
display:flex;
justify-content:center;
align-items:center;
}

.thank-card{
background:white;
width:650px;
padding:40px;
border-radius:20px;
text-align:center;
box-shadow:0 5px 15px rgba(0,0,0,.15);
}

.success{
font-size:90px;
color:#9c27ff;
margin-bottom:25px;
}

.thank-card h1{
color:#6a1b9a;
font-size:45px;
margin-bottom:20px;
}

.thank-card p{
color:#555;
line-height:30px;
font-size:18px;
margin-bottom:35px;
}

.order{
background:#f6edff;
padding:25px;
border-radius:12px;
margin-bottom:35px;
}

.row{
display:flex;
justify-content:space-between;
padding:15px 0;
border-bottom:1px solid #ddd;
}

.row:last-child{
border:none;
}

.green{
color:green;
font-weight:bold;
}

.buttons{
display:flex;
justify-content:center;
gap:20px;
flex-wrap:wrap;
}

.shop,
.home{
text-decoration:none;
padding:15px 35px;
border-radius:30px;
font-weight:bold;
transition:.3s;
}

.shop{
background:#9c27ff;
color:white;
}

.shop:hover{
background:#6a1b9a;
}

.home{
background:#e9dbf8;
color:#6a1b9a;
}

.home:hover{
background:#d7b9ff;
}

@media(max-width:768px){
.thank-card{
width:95%;
padding:25px;
}

.thank-card h1{
font-size:35px;
}

.success{
font-size:70px;
}

.buttons{
flex-direction:column;
}

.shop,
.home{
width:100%;
text-align:center;
}
}